body {
  font-family: "Amazon Ember",Arial,sans-serif;
}

hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

.image-view {
  display: flex;
  flex-direction: row;
}

.image-list {
  overflow: visible;
}

.image-list ul {
  padding: 0;
}

.image-list li {
  margin: 0 0 10px 0;
  list-style: none;
}

.image-list img {
  max-width: 40px;
  max-height: 40px;
}

.image-selected {
  border-color: #e77600!important;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.image-list-item {
  border: 1px solid #979aa1;
  display: flex;
  width: 40px;
  height: 40px;
  overflow: visible;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.image-list-item:hover{
  cursor: pointer;
}

.main-product-display {
  display: flex;
  flex-direction: row;
}

.main-image-wrapper {
  margin: 20px 50px;
  width: 425px;
  height: 425px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-image-wrapper div {
  width: auto;
  height: auto;
  position: relative;
}

.main-image-wrapper div:hover {
  cursor: pointer;
}

.main-image-wrapper img {
  max-width: 425px;
  max-height: 425px;
}

#canvasCaption {
  font-size: 13px;
  color: #555;
}

#magnifyLens {
  border: 1px solid #d4d4d4;
  width: 1000px;
  height: 750px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#zoomLens {
  width: 200px;
  height: 150px;
  position: absolute;
  background-image: url('https://i.imgur.com/jxtNm3c.png');
  background-size: 500px 500px;
}

#title {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

.rating {
  vertical-align: center;
}

.icon {
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-c4a765aedd886dc04d89e7e93b6a02c59ecb7013._V2_.png);
  background-size: 400px 750px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-star {
  width: 80px;
  height: 18px;
}

.icon-popover {
  margin: 5px 0 0 .385em;
  vertical-align: text-top;
  width: 7px;
  height: 5px;
  background-position: -90px -5px;
  opacity: .6;
  margin-top: 0;
}

.star-0 {
  background-position: -85px -368px;
}

.star-0-5 {
  background-position: -239px -368px;
}

.star-1 {
  background-position: -69px -368px;
}

.star-1-5 {
  background-position: -223px -368px;
}

.star-2 {
  background-position: -53px -368px;
}

.star-2-5 {
  background-position: -207px -368px;
}

.star-3 {
  background-position: -37px -368px;
}

.star-3-5 {
  background-position: -191px -368px;
}

.star-4 {
  background-position: -21px -368px;
}

.star-4-5 {
  background-position: -175px -368px;
}

.star-5 {
    background-position: -5px -368px;
}

.review-section {
  display: flex;
  flex-direction: row;
}

.reviews {
  margin-left: 20px;
}

.size-medium {
  font-size: 17px!important;
  line-height: 1.255!important;
  font-weight: 500;
}

.size-base {
  font-size: 13px!important;
  line-height: 19px!important;
}

.color-base {
  color: #111!important;
}

.color-price {
  color: #B12704!important;
}

.color-secondary {
  color: #555!important;
}

.color-success {
  color: #008a00!important;
}

.spacing-small {
  margin-bottom: 10px!important;
}
