.image-view {
  display: flex;
  flex-direction: row;
}

.image-list {
  overflow: visible;
}

.image-list ul {
  padding: 0;
}

.image-list li {
  margin: 0 0 10px 0;
  list-style: none;
}

.image-list img {
  max-width: 40px;
  max-height: 40px;
}

.image-selected {
  border-color: #e77600!important;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.image-list-item {
  border: 1px solid #979aa1;
  display: block;
  width: 40px;
  height: 40px;
  overflow: visible;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.main-product-display {
  width: 425px;
  height: 425px;
  text-align: center;
  vertical-align: middle;
  margin: 20px 50px;
}

.main-product-display img {
  max-width: 100%;
  max-height: 100%;
}
